# Misc
*~

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

src/blake2b
src/blake2b-salt-personal
src/ed25519
src/sha256
src/sha512
src/x25519_base
src/x25519_generic
